services:
  initialize-database-directories:
    volumes:
      - .:/app
    image: dotnet-8-python-310
    command: ["mkdir", "-p",
                "database/developedModels/linearTrend",
                "database/developedModels/maxLoss",
                "database/developedModels/medianGain",
                "database/forecastedStocks/linearTrend",
                "database/forecastedStocks/maxLoss",
                "database/forecastedStocks/medianGain",
                "database/modelPerformances/linearTrend",
                "database/modelPerformances/maxLoss",
                "database/modelPerformances/medianGain",
                "database/modelDevelopmentsLog",
                ]

  initialize-jupyter-lab:
    build: .
    image: dotnet-8-python-310
    ports:
      - "8888:8888"
    volumes:
      - .:/app
    tty: true
    command: jupyter lab --ip=0.0.0.0 --no-browser --LabApp.token=''
  
  develop-model:
    build: .
    image: dotnet-8-python-310
    volumes:
      - .:/app
    tty: true
    command: python3 develop_model.py
  
  forecast-stocks:
    build: .
    image: dotnet-8-python-310
    volumes:
      - .:/app
    tty: true
    command: python3 forecast_stocks.py